<div style="text-align: center; margin-top: 1rem;">
  <a href="{{ '/' | relative_url }}" style="margin: 0 1em; color: white; text-decoration: underline;">Home</a>
  <a href="{{ '/about.html' | relative_url }}" style="margin: 0 1em; color: white; text-decoration: underline;">About</a>
  <a href="{{ '/projects.html' | relative_url }}" style="margin: 0 1em; color: white; text-decoration: underline;">Projects</a>
  <a href="{{ '/contact.html' | relative_url }}" style="margin: 0 1em; color: white; text-decoration: underline;">Contact</a>
</div>
